{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "plugins": ["html"],
  "rules": {
    "indent": ["error", 4],
    "curly": ["error", "all"],
    "dot-location": ["error", "object"],
    "semi": ["error", "always"],
    "no-extra-semi": ["error"],
    "brace-style": ["error"],
    "no-extra-parens": ["error", "functions"],
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "VariableDeclarator": true
        }
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "newline-after-var": ["error", "always"]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
