{
    "root": true,
    "extends": ["plugin:vue/recommended", "plugin:vue/base"],
    "plugins": ["import", "vue"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "semi": ["error", "never"],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "VariableDeclarator": {
                    "var": 2,
                    "let": 2,
                    "const": 3
                },
                "outerIIFEBody": 0,
                "MemberExpression": 1
            }
        ],
        "curly": ["error", "all"],
        "dot-location": ["error", "object"],
        "no-extra-semi": ["error"],
        "brace-style": ["error"],
        "no-extra-parens": ["error", "functions"],
        "no-multi-spaces": [
            "error",
            {
                "exceptions": {
                    "VariableDeclarator": true
                }
            }
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxBOF": 0,
                "maxEOF": 1
            }
        ],
        "newline-after-var": ["error", "always"]
    }
}
