{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "prettier"
  ],
  "plugins": [
    "import",
    "html",
    "vue",
    "prettier"
  ],
  "parserOptions": {
    "parser": 'babel-eslint',
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        singleQuote: true,
        trailingComma: 'all',
      }
    ],
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "camelcase": 2,
    "semi": ["error", "never"],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        },
        "outerIIFEBody": 0,
        "MemberExpression": 1
      }
    ],
    "curly": [
      "error",
      "all"
    ],
    "dot-location": [
      "error",
      "object"
    ],
    "no-extra-semi": [
      "error"
    ],
    "brace-style": [
      "error"
    ],
    "no-extra-parens": [
      "error",
      "functions"
    ],
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "VariableDeclarator": true
        }
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "newline-after-var": [
      "error",
      "always"
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
