/node_modules
/public/hot
/public/js
/public/storage
/public/mix-manifest.json
/public/build
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/laradock
semantic/
/database
